/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS for the landing page*/


.header-section{
  height: 500px;
  background: #1F2937;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }

.logo-nav-container {
  display: flex;
  flex: 1;  
  justify-content: space-between; 
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 24px;
}


.logo {
  font-family:  Roboto;
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
  padding: 0 10px;
}

.nav-links{
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
   padding: 0 10px;
}
 

.hero-section {
  display: flex;
  gap: 30px;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 10%;
  margin-bottom: 10%;     
}

.hero-section .hero-text-container {
  width: 45%;
}

.hero-section .image-container {
  width: 55%;
}

.hero-section .main-text {
   font-family: roboto;
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
   padding: 5px;
}

.nav-links a,
.hero-section .secondary-text {
  font-family: roboto;
  font-size: 18px;
  color: #E5E7EB; 
}

.hero-section .secondary-text {
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

.hero-section button {
  background: #3882F6;
  color: #E5E7EB;
  padding: 8px 40px;
  border: 2px solid #3882F6;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px ;
}

.hero-section img {
  height: 230px;
  display: block;
  border: 1px solid whitesmoke;
  background-color: gray;
  text-align: center;
  color: white;  
}


/*  Main Section */

.main-section-container {
  text-align: center;
  margin-bottom: 80px;
}


.section-title {
  font: roboto;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 45px 0;    
}

.section-info-container {
  display: flex;
  justify-content: center;
  gap: 25px;      
}

.section-info {
  max-width: 200px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.section-info img {
  height: 200px;
  width: 200px;
}

/* Quote section */

.section-quote {
  background: #E5E7EB;
  padding: 60px 60px;  
}


 blockquote  p {
  font: roboto;
  font-size: 36px;
  font-style: oblique 10deg; 
  color: #1F2937;
 }  

blockquote footer {
  font-size: 20px;
  font-weight: 700;  
  text-align: right;  
} 

blockquote p,
blockquote footer {
  margin: 2%  17%;
}


/* Quote Section */


.cta-container {
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;  
  margin: 80px 120px;
  width: 80%;
  border-radius: 8px;
}

.cta-container p{
  font: roboto;
  font-size: 32px;
  font-weight: 900;
  color: #E5E7EB; 
  padding: 40px 30px;
}

.cta-container span {
  display: block;
  font-size: 20px;
  font-weight: 300;
  margin-top: 5px;
}

.cta-container button {
   margin: 50px;
   padding: 8px 40px;
   background-color: #3882F6;;
   border: 2px solid #E5E7EB; 
   border-radius: 8px;
   color: #E5E7EB;
   font-size: 16px;
   font-weight: 700;
}